{% extends 'wikiApp/index.html' %}

{% block content%}

<h1>Add Post</h1>
<h4>Add some posts to your personal wiki page.</h4>
<form enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    {{ Postform.as_p }}
    <button>Submit</button>
</form>


<table>

    <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
    </tr>

    <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
    </tr>
</table>

{% endblock %}