{% extends 'wikiApp/index.html' %}

{% block content %}

{% if post_list %}

<h3>{{ post_list.title }}</h3>

{{ post_list.textField }} <br>
{{ post_list.dateCreated }}

{% endif %}
<p><a href="{% url 'addItem' post_list.pk %}">Add a Item</a></p>
<p><a href="{% url 'editPost' post_list.pk %}">Edit Post</a></p>


{% endblock %}


{% block sidebar %}

{% for eachItem in relatedItems %}
<li>{{ eachItem.itemField }}</li>
<img src="{{ eachItem.imageUpload.url }}"/>
{% endfor %}

{% endblock sidebar %}

