body {
    margin: 50px;
    font-family: sans-serif;
    text-align: justify;
}
/*postions for the classes listes*/
.sidebar {
    grid-area: sidebar;
}

.content {
    grid-area: content;
}

.header  {
    grid-area: header;
    text-decoration-color: red;
}

.footer {
    grid-area: footer;
}

/*3 column grid with a header, body, sidebar and footer
the main content area takes of 66% and the sidebar is no bigger than 33% of the screen*/

.wrapper {
    display: grid;
    grid-gap: 50px;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas:
            "header header header"
            "sidebar content content"
            "footer  footer  footer";
    background-color: #fff;
    color: #051923;
}


.box {
    background-color: #00dbe2;
    color: #1e1f24;
    border-radius: 5px;
    padding: 10px;
    font-size: 150%;
    text-decoration-color: #051923;
}

.header, h1,
.footer {
    background-color: #88ff7c;
    text-align: center;
    text-decoration-color: #78edb6;
}


/*space-around is used here so the first item and last item have the same spac around their grid position.*/
nav ul {
    display: flex;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    /*margin: 0 auto;*/
    list-style-type: none;
    background-color: #051923;
    margin: 1%;
}



nav a {
    display: block;
    color: #88ff7c;
    font-size: 30px;
    font-weight: lighter;
    text-decoration: none;
}
/*turns text in navbar blur when highlighted*/
nav a:hover {
    color: #00dbe2;

}
img{
    width: 200px;
    height: 150px;
}
